<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Discussions" %></h1>  
</section>

<section class="row">
  <article class="column">
    <h2>Links</h2>
    <ul>
      <li>
        <a href="/topic">Topics</a>
      </li>      
      <li>
        <a href="/user">Users</a>
      </li>      
    </ul>
  </article>

</section>
